SUBSYSTEM!="usb_device", ACTION!="add", GOTO="libnjb_rules_end"

# Creative Nomad Jukebox
ATTR{idVendor}=="0471", ATTR{idProduct}=="0222", MODE="660", GROUP="audio"
# Creative Nomad Jukebox 2
ATTR{idVendor}=="041e", ATTR{idProduct}=="4100", MODE="660", GROUP="audio"
# Creative Nomad Jukebox 3
ATTR{idVendor}=="041e", ATTR{idProduct}=="4101", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen
ATTR{idVendor}=="041e", ATTR{idProduct}=="4108", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen USB 2.0
ATTR{idVendor}=="041e", ATTR{idProduct}=="410b", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen NX
ATTR{idVendor}=="041e", ATTR{idProduct}=="4109", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen Xtra
ATTR{idVendor}=="041e", ATTR{idProduct}=="4110", MODE="660", GROUP="audio"
# Dell Digital Jukebox
ATTR{idVendor}=="041e", ATTR{idProduct}=="4111", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen Touch
ATTR{idVendor}=="041e", ATTR{idProduct}=="411b", MODE="660", GROUP="audio"
# Creative Zen (Zen Micro variant)
ATTR{idVendor}=="041e", ATTR{idProduct}=="411d", MODE="660", GROUP="audio"
# Creative Nomad Jukebox Zen Micro
ATTR{idVendor}=="041e", ATTR{idProduct}=="411e", MODE="660", GROUP="audio"
# Second Generation Dell Digital Jukebox
ATTR{idVendor}=="041e", ATTR{idProduct}=="4126", MODE="660", GROUP="audio"
# Dell Pocket DJ
ATTR{idVendor}=="041e", ATTR{idProduct}=="4127", MODE="660", GROUP="audio"
# Creative Zen Sleek
ATTR{idVendor}=="041e", ATTR{idProduct}=="4136", MODE="660", GROUP="audio"
# Third Generation Dell Digital Jukebox
ATTR{idVendor}=="041e", ATTR{idProduct}=="412f", MODE="660", GROUP="audio"

LABEL="libnjb_rules_end"
